<h2>
	Parent to Child: Sharing Data via Input() and Child to Parent: Sharing Data via Output()
</h2>
<p> Child says : {{message}}</p>
<button (click)="sendMessage()">Send Message to child</button>
<button (click)="cleardMessage()">Clear Message to child</button>
<app-child [childMessage]="parentMessage" (messageEvent)="receiveMessage($event)"></app-child>
<h2>Countdown to Liftoff (via local variable)</h2>
<button (click)="timer.start()">Start</button>
<button (click)="timer.stop()">Stop</button>
<div class="seconds">{{timer.seconds}}</div>
<app-countdown-timer #timer></app-countdown-timer>
<h2>parent to component1 via services</h2>
<div class="parent">
	<p>Parent message: {{data.message}}</p>
	<form novalidate>
		<div class="form-group">
			<input type="text"   class="form-control" name="unNomQuelconque" [(ngModel)]="data.message">
		</div>
	</form>
  <p></p>
  <app-component1></app-component1>
</div>
